<% include ../partials/header %>
<div class="container">
  <div class="row">
    <!-- <div class="col-md-3">
      <p class="lead">Lapak Mac</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>
    <div class="col-md-9"> -->
    <div class="col-md-8 col-md-offset-2">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= lapakmacs.image %>">
        <div class="caption-full">
          <h4 class="pull-right">IDR.<%= lapakmacs.price %></h4>
          <h4><a><%= lapakmacs.name %></a></h4>
          <p><p><%=lapakmacs.description %></p></p>
          <p><em>Lapak By <%= lapakmacs.author.username%></em></p>
          <% if(currentUser && lapakmacs.author.id.equals(currentUser._id)) {%>
            <a class="btn btn-xs btn-warning" href="/lapakmac/<%= lapakmacs._id %>/edit">Edit</a>
            <form id="delete-form" action="/lapakmac/<%= lapakmacs._id %>?_method=DELETE" method="post">
            <button class="btn btn-xs btn-danger">Delete</button>
            </form>
          <% }%>
        </div>
      </div>
      <div class="well">
        <div class="text-right">
          <a class="btn btn-success" href="/lapakmac/<%=lapakmacs._id%>/comments/new">Add a New Comment</a>
        </div>
        <hr>
        <% lapakmacs.comments.forEach(function(comment){%>
          <div class="row">
            <div class="col-md-12">
              <strong><%= comment.author.username %></strong>
              <span class="pull-right">3 days ago</span>
              <p><%= comment.text%></p>
              <% if(currentUser && comment.author.id.equals(currentUser._id)) {%>
              <form action="/lapakmac/<%= lapakmacs._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <a class="btn btn-xs btn-warning" href="/lapakmac/<%= lapakmacs._id %>/comments/<%= comment._id %>/edit">Edit</a>
                <button type="submit" class="btn btn-xs btn-danger">Delete</button>
              </form>
              <% }%>
            </div>
          </div>
        <%})%>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
